<section class="hero">
    <div class="hero-content">
      <h1>Welcome to CaterAI</h1>
      <p>Find out what you should eat and let others cook it</p>
      <a href="#features" class="btn">Get Started</a>
    </div>
  </section>
  
  <section class="features" id="features">
    <h2>You can</h2>
    <a routerLink='/demo-calculation'>
      <div class="feature">
        <i class="fas fa-cog"></i>
        <h3>Do a demo calculation</h3>
        <p>See menu options specific for your metrics</p>
      </div>
    </a>
    <a href="https://www.youtube.com">
      <div class="feature">
        <i class="fas fa-mobile-alt"></i>
        <h3>Login or Signup</h3>
        <p>Login or Signup to enjoy the entire exprience</p>
      </div>
    </a>
  </section>
  
  <footer>
    <p>&copy; 2023 Modern Homepage. All rights reserved.</p>
  </footer>

